.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4e2a84; /* Purple background */
  padding: 15px 30px;
  color: white;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 40px; /* Adjust as needed */
  margin-right: 10px;
}

.navbar-title {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar-user-info {
  text-align: right;
}

.user-class {
  display: block;
  font-size: 0.9em;
  color: #d1c4e9; /* Slightly lighter shade */
}
